section {
    height: 100%;
    width: 100%;
    text-align: center;

    >div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.loading-animation {
    display: flex;
    font-size: 23px;

    >span {
        margin: 0;
        width: 15px;
    }
}

h1 {
    color: black;
}

app-card {
    height: 150px;
    width: 250px;
    display: flex;
    margin-bottom: 10px;
}