section {
    max-height: 150px;
    height: 100%;
    max-width: 250px;
    width: 100%;
    display: flex;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    flex-direction: column;
}

.type-sprite-container {
    display: flex;
}

.sprite-container {
    height: 100px;
    width: 100px;
}

img {
    height: 100%;
    width: 100%;
}