section {
    max-height: 150px;
    height: 100%;
    max-width: 250px;
    width: 100%;
    display: flex;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    flex-direction: column;
    justify-content: space-around;

    &:hover{
        cursor: pointer;
    }
}

.name-id-container{
    display: flex;
    justify-content: space-around;
}

.type-sprite-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.type-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    
    >div{
        height: 30px;
        width: 75px;
        border: solid 1px white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.sprite-container {
    height: 100px;
    width: 100px;
}

img {
    height: 100%;
    width: 100%;
}