<section class="{{ pokeInfo['color'] }}">
    <div class="name-id-container">
        <div>{{ pokeInfo['name'] }}</div>
        <div>#{{ pokeInfo['formattedId'] }}</div>
    </div>
    <div class="type-sprite-container">
        <div class="type-container">
            <div>{{ pokeInfo['types'][0] }}</div>
            <div *ngIf="pokeInfo['types'][1]">{{ pokeInfo['types'][1] }}</div>
        </div>
        <div class="sprite-container">
            <img src="{{ pokeInfo['sprites'] }}">
        </div>
    </div>
</section>