section {
    background-color: lightblue;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
}

.arrow {
    height: 50px;
    width: 50px;
    margin-left: 50px;
    margin-top: 50px;

    >img {
        height: 100%;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.top-part {
    height: 60vh;
}

.top-part-header {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    font-weight: bold;

    >:first-child {
        font-size: 32px;
    }
}

.top-part-types {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    gap: 7px;

    >div {
        background-color: rgba(255, 255, 255, 0.795);
        border-radius: 15px;
        padding: 3px 20px 3px 20px;
    }
}

.pokemon-image {
    position: relative;
    height: 420px;
    width: 420px;
    z-index: 1;
}

.dp-none {
    display: none;
}

.lower-part {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
}

.lower-part-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    color: black;

    >span {
        display: relative;
        z-index: 1;

        &:hover {
            cursor: pointer;
        }
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-left {
    text-align: left;
}

.border-shadow {
    border-radius: 12px;
    box-shadow: 0px 1px 5px -1px rgba(102, 100, 102, 1);
}

.padding {
    padding: 5px 20px 5px 20px;
}

.color-grey {
    color: grey
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.gap-40 {
    gap: 40px;
}

table {
    >tr {
        text-align: left;
    }
}

.padding-left-40 {
    padding-left: 40px;
}

.wrap{
    flex-wrap: wrap;
}

.y-scroll {
    overflow-y: scroll;
}

.y-scroll::-webkit-scrollbar {
    width: 10px;
}

.y-scroll::-webkit-scrollbar-track {
    background: lightgrey;
    border-radius: 5px;
}

.y-scroll::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 5px;
}

.height-25 {
    height: 25vh;
}

.evo-container {
    flex-direction: row;
    justify-content: space-around;
}

.evo-picture-container {
    width: 200px;

    &:hover {
        cursor: pointer;
    }

    >img {
        height: 100%;
        width: 100%;
    }
}

meter {
    margin-left: 10px;
}

.mobile-stats {
    display: none;
}

.green{
    background-color: #41D168;
}

.black{
    background-color: #272727;
}

.yellow{
    background-color: #A8B820;
}

.white{
    background-color: #FFFFFF;
}

.red{
    background-color: #FA6555;
}

.blue{
    background-color: #0055D4;
}

.purple{
    background-color: #953594;
}

.pink{
    background-color: #be3379;
}

.gray{
    background-color: #919191;
}

.brown{
    background-color: #9D9B6A;
}

@media (max-width: 400px) {
    .desktop-stats {
        display: none;
    }

    .mobile-stats {
        display: flex;
    }

    meter {
        margin-left: 0;
    }
}