<section id="details" class="dp-none">
    <div class="arrow">
        <img (click)="removeDetailsOverlay()" src="./assets/img/arrow-back.svg">
    </div>
    <div class="top-part">
        <div class="top-part-header">
            <div>
                {{ currentPokemonData['name'] }}
            </div>
            <div>
                #{{ currentPokemonData['formattedId'] }}
            </div>
        </div>
        <div class="top-part-types">
            <div>{{ currentPokemonData['types'][0] }}</div>
            <div *ngIf="currentPokemonData['types'].length == 2">{{ currentPokemonData['types'][1] }}</div>
        </div>
        <img class="pokemon-image" *ngIf="currentPokemonData['sprites']" src="{{ currentPokemonData['sprites'] }}">
    </div>
    <div class="lower-part">
        <nav class="lower-part-nav">
            <span (click)="loadAbout()">About</span>
            <span (click)="loadStats()">Base Stats</span>
            <span (click)="loadEvo()">Evolution</span>
            <span (click)="loadMoves()">Moves</span>
        </nav>
        <div *ngIf="menuNumber == 1" class="info-container">
            <div class="flex-column text-left border-shadow padding">
                <span class="color-grey bold">Weight</span>
                <span class="bold">{{ currentPokemonData['weight'] }}</span>
            </div>
            <div class="flex gap-40">
                <span class="color-grey bold">Base Exp</span>
                <span class="bold">{{ currentPokemonData['base_experience'] }}</span>
            </div>
        </div>
        <div *ngIf="menuNumber == 2" class="info-container">
            <table>
                <tr *ngFor="let stat of currentPokemonData['stats']; index as i">
                    <td class="color-grey bold">{{ capitalizeFirstLetter(currentPokemonData['stats'][i]['stat']['name']) }}</td>
                    <td class="padding-left-40 bold">{{ currentPokemonData['stats'][i]['base_stat'] }}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="menuNumber == 3" class="info-container evo-container">
            <div *ngIf="currentPokemonData['evolution'][0]['name'] != '' && valid(currentPokemonData['evolution'][0])" class="evo-picture-container">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ currentPokemonData['evolution'][0]['spriteNr'] }}.png">
                <span>{{ currentPokemonData['evolution'][0]['name'] }}</span>
            </div>
            <div *ngIf="currentPokemonData['evolution'][1]['name'] != '' && valid(currentPokemonData['evolution'][1])" class="evo-picture-container">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ currentPokemonData['evolution'][1]['spriteNr'] }}.png">
                <span>{{ currentPokemonData['evolution'][1]['name'] }}</span>
            </div>
            <div *ngIf="currentPokemonData['evolution'][2]['name'] != '' && valid(currentPokemonData['evolution'][2])" class="evo-picture-container">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ currentPokemonData['evolution'][2]['spriteNr'] }}.png">
                <span>{{ currentPokemonData['evolution'][2]['name'] }}</span>
            </div>
        </div>
        <div *ngIf="menuNumber == 4" class="info-container height-25 y-scroll">
            <span *ngFor="let move of currentPokemonData['moves']" class="bold">
                {{ move }}
            </span>
        </div>
    </div>
</section>