<section id="details" class="dp-none {{ currentPokemonData['color'] }}">
    <div class="arrow">
        <img (click)="removeDetailsOverlay()" src="./assets/img/arrow-back.svg">
    </div>
    <div class="top-part">
        <div class="top-part-header">
            <div>
                {{ currentPokemonData['name'] }}
            </div>
            <div>
                #{{ currentPokemonData['formattedId'] }}
            </div>
        </div>
        <div class="top-part-types">
            <div>{{ currentPokemonData['types'][0] }}</div>
            <div *ngIf="currentPokemonData['types'].length == 2">{{ currentPokemonData['types'][1] }}</div>
        </div>
        <div class="pokemon-image-container">
            <img *ngIf="currentPokemonData['sprites']" src="{{ currentPokemonData['sprites'] }}">
        </div>        
    </div>
    <div class="lower-part">
        <nav class="lower-part-nav relative-index-99">
            <span (click)="loadAbout()">About</span>
            <span (click)="loadStats()">Base Stats</span>
            <span (click)="loadEvo()">Evolution</span>
            <span (click)="loadMoves()">Moves</span>
        </nav>
        <div *ngIf="menuNumber == 1" class="info-container center">
            <div class="flex-column text-left border-shadow padding">
                <span class="color-grey bold">Weight</span>
                <span class="bold">{{ currentPokemonData['weight'] }}</span>
            </div>
            <div class="flex gap-40">
                <span class="color-grey bold">Base Exp</span>
                <span class="bold">{{ currentPokemonData['base_experience'] }}</span>
            </div>
        </div>
        <div *ngIf="menuNumber == 2" class="info-container center">
            <table>
                @for (stat of currentPokemonData['stats']; track currentPokemonData.name; let i = $index){
                <tr>
                    <td class="color-grey bold">{{ capitalizeFirstLetter(currentPokemonData['stats'][i]['stat']['name'])
                        }}</td>
                    <td class="padding-left-40 bold desktop-stats">{{ currentPokemonData['stats'][i]['base_stat']
                        }}<meter min="0" max="100" value="{{ currentPokemonData['stats'][i]['base_stat'] }}"></meter>
                    </td>
                </tr>
                <tr class="mobile-stats">
                    <td class="bold">{{ currentPokemonData['stats'][i]['base_stat'] }}<meter min="0" max="100"
                            value="{{ currentPokemonData['stats'][i]['base_stat'] }}"></meter></td>
                </tr>
                }
            </table>
        </div>
        <div *ngIf="menuNumber == 3" class="info-container evo-container">
            <div *ngIf="hasEvolution == 0 || currentPokemonData['evolution'] == ['This Pokemon does not evolve']" class="evo-picture-container">
                <span>{{ currentPokemonData['evolution'] }}</span>
            </div>
            <div *ngIf="currentPokemonData['evolution'][0][0] != '' && currentPokemonIsNotDisplayedInEvolutions(currentPokemonData['evolution'][0][0]) && hasEvolution == 1"
                class="evo-picture-container" (click)="setNewCurrentPokemon(currentPokemonData['evolution'][0][0])">
                <img src="{{ evoImage1 }}">
                <span>{{ currentPokemonData['evolution'][0][0] }}</span>
            </div>
            <div *ngIf="currentPokemonData['evolution'][0][1] != '' && currentPokemonIsNotDisplayedInEvolutions(currentPokemonData['evolution'][0][1]) && hasEvolution == 1"
                class="evo-picture-container" (click)="setNewCurrentPokemon(currentPokemonData['evolution'][0][1])">
                <img src="{{ evoImage2 }}">
                <span>{{ currentPokemonData['evolution'][0][1] }}</span>
            </div>
            <div *ngIf="currentPokemonData['evolution'][0][2] != '' && currentPokemonIsNotDisplayedInEvolutions(currentPokemonData['evolution'][0][2]) && hasEvolution == 1"
                class="evo-picture-container" (click)="setNewCurrentPokemon(currentPokemonData['evolution'][0][2])">
                <img src="{{ evoImage3 }}">
                <span>{{ currentPokemonData['evolution'][0][2] }}</span>
            </div>
        </div>
        <div *ngIf="menuNumber == 4" class="info-container height-25 x-scroll wrap gap-5">
            <span *ngFor="let move of currentPokemonData['moves']" class="bold">
                {{ move }}
            </span>
        </div>
    </div>
</section>